#S
io_in\[.*\]
io_oeb\[.*\]

#N
la_data_in\[.*\]
la_oenb\[.*\]
la_data_out\[.*\]

#E
wbs_stb_i
wbs_cyc_i
wbs_we_i
wbs_sel_i\[.*\]
wbs_dat_i\[.*\]
wbs_adr_i\[.*\]
wbs_ack_o
wbs_dat_o\[.*\]

#W
wb_clk_i
wb_rst_i
io_out\[.*\]
irq\[.*\]
